@model List<HRM.Web.ViewModel.EmployeeVM>
<h1>Employee</h1>

<table border="1">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Department</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.EmployeeName</td>
                <td>@employee.Department</td>
                <td>@employee.Age</td>
            </tr>
        }
    </tbody>
</table>



